# dependencies
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
*.log

# dotenv
.env
.env.*.local

# caches
.cache
*.tsbuildinfo

# IDE
.idea
.vscode/*
!.vscode/settings.json

# OS
.DS_Store

# docs build artifacts
docs/.astro/
docs/dist/
