# yaml-language-server: $schema=./schemas/config.schema.json
port: ${PORT:-3000}
corsOrigins: "*"

indexes:
  craft_search_plugin_labs:
    engine: elasticsearch
    host: ${ELASTICSEARCH_URL}
    username: ${ELASTICSEARCH_USERNAME}
    password: ${ELASTICSEARCH_PASSWORD}
    indexName: craft_search_plugin_labs
    defaults:
      perPage: 20
      facets:
        - placeCountry
        - placeRegion
      highlight: true
      suggestField: title
    fields:
      title:
        weight: 10
      description:
        weight: 2
      country:
        field: placeCountry
      region:
        field: placeRegion

  local-es:
    engine: elasticsearch
    host: http://localhost:9200
    indexName: craft_search_plugin_labs
    defaults:
      perPage: 20
      facets:
        - placeCountry
        - placeRegion
      highlight: true
      suggestField: title
    fields:
      title:
        weight: 10
      description:
        weight: 2
      country:
        field: placeCountry
      region:
        field: placeRegion
      facilityType:
        field: facilities.type
        nestedPath: facilities
      facilityName:
        field: facilities.name.keyword
        nestedPath: facilities

  local-opensearch:
    engine: opensearch
    host: http://localhost:9201
    indexName: craft_search_plugin_labs
    defaults:
      perPage: 20
      facets:
        - placeCountry
        - placeRegion
      highlight: true
      suggestField: title
    fields:
      title:
        weight: 10
      description:
        weight: 2
      country:
        field: placeCountry
      region:
        field: placeRegion
      facilityType:
        field: facilities.type
        nestedPath: facilities
      facilityName:
        field: facilities.name.keyword
        nestedPath: facilities

  local-meilisearch:
    engine: meilisearch
    host: http://localhost:7700
    apiKey: ${MEILI_MASTER_KEY:-dev_meilisearch_key}
    indexName: craft_search_plugin_labs
    defaults:
      perPage: 20
      facets:
        - placeCountry
        - placeRegion
    fields:
      country:
        field: placeCountry
      region:
        field: placeRegion
      facilityType:
        field: facilities.type
      facilityName:
        field: facilities.name

  local-typesense:
    engine: typesense
    host: http://localhost:8108
    apiKey: ${TYPESENSE_API_KEY:-dev_typesense_key}
    indexName: craft_search_plugin_labs
    dateFields:
      - postDate
    defaults:
      perPage: 20
      facets:
        - placeCountry
        - placeRegion
    fields:
      country:
        field: placeCountry
      region:
        field: placeRegion
      facilityType:
        field: facilities.type
      facilityName:
        field: facilities.name
